{% extends 'base.html' %}
{% import 'macros.html' as macro %}



<!-- Content block -->
{% block content %}

    <title> {{ title }} </title>

    <div class="container">

            <div class="row">

                <h1 class = "main">
                    Categories
                </h1>
                
            </div>
            <br>
            

                
            
            
                <h2 class="category-create">
                    <a href="/group/new">
                       Click To Create A Category
                    </a>
                </h2>
                
                <hr>

        

        

        <ul class = "lists">
            {{ macro.displayGroupList(groups) }}
        </ul>


    </div>

{% endblock %}